<div class="footer footer-container wrapper">
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-md-offset-0 col-sm-offset-2 col-xs-12"> 
					<h4 style="font-family: 'Quicksand';">ABOUT</h4>
					<ul style="list-style-type: none;font-family: 'Montserrat'; line-height: 220%; padding-top: -1em;">
						<li><%= link_to "About Us", "http://www.surya.ac.id/content/2/34/Visi_&_Misi" %></li>
						<li><%= link_to "Admission", "http://www.surya.ac.id/site/1/1/Prospective_Student"%></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-md-offset-0 col-sm-offset-2 col-xs-12"> 
					<h4 style="font-family: 'Quicksand';">PUBLICATIONS</h4>
					<ul style="list-style-type: none;font-family: 'Montserrat'; line-height: 220%; padding-top: -1em;">
						<li><%= link_to "Surya Group", "http://www.surya.ac.id/content/3/3/Surya_Group" %></li>
						<li><%= link_to "Archive", "http://www.surya.ac.id/content/3/4/2005-2012"%></li>
						<li><%= link_to "International Journal", "http://www.surya.ac.id/publication/2/41/International_Journal"%></li>
						<li><%= link_to "Research", "http://www.surya.ac.id/microsite/1/12/Research"%></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-md-offset-0 col-sm-offset-2 col-xs-12"> 
					<h4 style="font-family: 'Quicksand';">ACADEMIC</h4>
					<ul style="list-style-type: none;font-family: 'Montserrat'; line-height: 220%; padding-top: -1em;">
						<li><%= link_to "Faculty of Green Economy & Digital Communication", "http://www.surya.ac.id/microsite/2/2/Faculty_of_Green_Economy_&_Digital_Communication" %></li>
						<li><%= link_to "Faculty of Clean Energy & Climate Change", "http://www.surya.ac.id/microsite/2/3/Faculty_of_Clean_Energy_&_Climate_Change"%></li>
						<li><%= link_to "Faculty of Life Sciences", "http://www.surya.ac.id/microsite/2/4/Faculty_of_Life_Sciences"%></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
